<section class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center text-white kubera-pricing-block price-block-title table-title">
          <h2><span>Enterprise</span> Support</h2>
          <p>MayaData offers enterprise support which includes exclusive benefits. See the pricing below for more
            information.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-pricing-new-table></app-pricing-new-table>
      </div>
    </div>
  </div>
</section>