<section class="contactus-section">
  <div class="bg-wrapper" style="z-index: 0;">
    <div class="bg"></div>
  </div>
  <div class="section-container" style="z-index: 10;">
    <div class="container py-4">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-5 text-white">
          <h1>Contact Us</h1>
          <h4 class="font-weight-light">Fill in the details below, we will reach out to you soon.</h4>
          <app-contactus-form></app-contactus-form>
        </div>
        <div
          class="col-12 col-md-6 col-lg-7 text-white d-flex justify-content-center align-items-center pt-4 address-section">
          <div class="row">
            <div class="col-12 col-lg-6 py-3">
              <h3>MayaData Inc.</h3>
              <p>4300 Stevens Creek Boulevard,
                Suite 270
                San Jose, CA 95129</p>
            </div>
            <div class="col-12 col-lg-6 py-3">
              <h3>MayaData UK Ltd.</h3>
              <p>Pacific House,
                Imperial Way Reading,
                RG2 0TD
                United Kingdom</p>
            </div>
            <div class="col-12 col-lg-6 py-3">
              <h3>MayaData India</h3>
              <p>1658, 2nd Floor, 27th Main,
                HSR Layout Sector 2,
                Bangalore - 560102</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>