<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 text-white pb-5 pb-md-0">
      <div class="d-flex justify-content-center align-items-center">
        <img lazyLoad="assets/images/product/propel-4.png" alt="Image" class="img-fluid kubera-feature-image" />
      </div>
    </div>
    <div class="col-12 col-md-6 text-white">
      <h3 class="kubera-propel-title">Kubera Cloud Edition</h3>
      <p>Kubera Propel and Chaos are lightweight and easy to run yourself. But, what if you want MayaData to run
        Kubera
        for you? Then select Kubera Cloud Edition. With Kubera Cloud Edition you can see and configure all of your
        OpenEBS deployments, set up back-up services to any S3 compliant object store, and simply map and manage
        your
        workloads to your underlying storage services. Kubera Cloud Edition even includes off cluster logging,
        charting,
        and alerts for OpenEBS and for any of your stateful workloads.
      </p>
      <div class="explainer">
        <p>Please note that currently Litmus Chaos support is not available in Kubera Cloud Edition.</p>
      </div>
      <div class="propel-btn">
        <a href="https://account.mayadata.io/signup-classic" target="_blank" rel="noopener noreferrer"
          class="mb-5 mb-md-0">
          <button class="btn btn-primary try-btn">
            Login
          </button>
        </a>
        <a href="https://go.mayadata.io/register-for-kubera-chaos-and-propel-technical-preview" target="_blank"
          rel="noopener noreferrer">
          <button class="btn btn-outline-primary read-docs-btn">
            Sign Up Free
          </button>
        </a>
      </div>
    </div>
  </div>
</div>