<section class="section-container">
  <div class="mid-service">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mid-service-left">
          <!-- <h4>Design</h4> -->
          <div class="mid-left-image">
            <h5>Getting started
            </h5>
          </div>
          <ul class="mid-left-list">
            <li>Learn from experience</li>
            <li>Run you workloads, and discover other cloud native workloads</li>
            <li>Build standard operating procedures</li>
          </ul>
        </div>
        <div class="col-md-6 mid-service-right">
          <div class="mid-right-top">
            <span>
              <img src="assets/images/professional-services/info-icon.png" alt="Info Image" />
            </span>
            <h4>Operating your workloads
            </h4>
          </div>
          <ul class="mid-right-list">
            <li>Go deeper with the workloads your users need</li>
            <li>Adapt and characterize the operators,and storage, you need </li>
            <li>Learn the care and feeding for these workloads</li>
            <li>Scale out and up including capacity management</li>
            <li>Upgrades of the workloads and your environment</li>
          </ul>
          <div class="mid-right-bottom">
            <span>
              <img src="assets/images/professional-services/check.png" alt="Info Image" />
            </span>
            <h4>Operating your data layer
            </h4>
          </div>
          <ul class="mid-right-list">
            <li>Experience how the use of OpenEBS Container Attached Storage can:</li>
            <li>Increase efficiency, including the use of underlying cloud or physical storage</li>
            <li>Decrease developer and data scientist frustration, through the control and isolation of CAS</li>
            <li>Enhance performance, by reducing the unnecessary overhead of shared storage</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>