<div class="section-container bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="d-flex justify-content-center align-items-center pb-3 h-100">
          <img lazyLoad="assets/images/mayadata-landing/kubera-donut-storage-and-operations.svg"
            alt="Kubera Donut - Storage and Operations" class="img-fluid kubera-donut" />
        </div>
      </div>
      <div class="col-12 col-lg-6 d-flex">
        <div class="my-auto meet-kubera-block pt-3 pt-md-0 text-center text-lg-left h-100">
          <h2 class="h1 text-primary">Meet Kubera</h2>
          <h2>Kubera simplifies the operations of Kubernetes as your data plane</h2>
          <p>Having built the leading cloud native open source storage solution, OpenEBS, the team at MayaData has
            turned its attention to the operations of Kubernetes as a data plane. Kubera capabilities include: </p>
          <ul>
            <li>Off-Cluster Logging</li>
            <li>Alerting</li>
            <li>Visualization</li>
            <li>Reporting</li>
            <li>Backups</li>
            <li>Maintenance</li>
            <li>Compliance checks</li>
            <li>Troubleshooting</li>
            <li>Lifecycle automation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>