<section class="section-container text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <h1>OpenEBS with ICP</h1>
        <p>MayaData works with IBM Cloud Private to bring the ease of use and granularity of control of OpenEBS to IBM
          Cloud Private users.</p>
        <p class="mb-4">Try now to see how you can dramatically accelerate your agility in running stateful workloads on
          ICP.</p>
        <a href="https://www.ibm.com/us-en/marketplace/openebs-cloud-native-storage" target="_blank"
          rel="noopener noreferrer">
          <button class="btn btn-primary">
            Visit OpenEBS on IBM marketplace
          </button>
        </a>
      </div>
      <div class="col-12 col-md-6">
        <img src="assets/images/icp/ibm-and-openebs.svg" alt="IBM and OpenEBS" class="img-fluid" />
      </div>
    </div>
  </div>
</section>


<section class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2 class="text-white">Provisioning OpenEBS storage for stateful applications is extremely simple</h2>
      </div>
      <div class="col-12 col-md-6">
        <iframe id="mayadata-vimeo-video" src="https://player.vimeo.com/video/357787279?autopause=true"
          class="vimeo-video" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>


<section class="section-container text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2 class="text-white">Benefits of IBM Cloud Private</h2>
      </div>
      <div class="col-12 col-md-6">
        <div class="d-flex p-4 mb-4 benefits-card">
          <div class="px-3">
            <img src="assets/images/icp/control.svg" alt="control" class="img-fluid" />
          </div>
          <div>
            <h6>Control and security</h6>
            <p>Meet strict needs with more resource control and data isolation.</p>
          </div>
        </div>
        <div class="d-flex p-4 mb-4 benefits-card">
          <div class="px-3">
            <img src="assets/images/icp/speed.svg" alt="Speed" class="img-fluid" />
          </div>
          <div>
            <h6>Speed and scalability</h6>
            <p>Quickly deploy and scale resources to meet fluctuating demands.</p>
          </div>
        </div>
        <div class="d-flex p-4 benefits-card">
          <div class="px-3">
            <img src="assets/images/icp/end-to-end.svg" alt="End to End Development" class="img-fluid" />
          </div>
          <div>
            <h6>End-to-end development</h6>
            <p>Build and test in a protected enviroment that mirrors the production enviroment.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
