.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.tag-line {
  font-weight: 300;
  font-size: 36px;
}

.tag-line__sub {
  font-weight: 300;
  font-size: 20px;
}

.contain {
  height: 80vh;
}

.btn-default:active,
.btn-default.active {
  color: white !important;
}

.padding {
  padding: 10px 10px;
}

.btn-round {
  border-radius: 30px;
  background: white;
  width: 160px;
  height: 40px;
}

.btn-circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 33px;
  width: 33px;
  background: transparent;
  color: #8500ac;
  border: 1px solid #8500ac;
  border-radius: 50%;
  font-weight: 500;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.py-x {
  padding: 4rem 0rem;
}

.img-size-1 {
  max-width: 85%;
}

.img-size__sub {
  max-width: 60%;
  height: auto;
}

.contact-section {
  background: #5F4A8B;
  padding: 10vw 0;

  h2 {
    margin: 6rem auto;
    font-weight: 200;
  }

  .contact-btn {
    padding: 1rem 4rem;
    background-color: #fff;
    border-radius: 3rem;
    color: #5F4A8B;
    font-weight: 500;
    font-size: 18px;
  }
}

.cta-div {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.text-block {
  max-width: 650px;
}

.hero-text-block,
.mid-text-block {
  max-width: 950px;
}

.usecase-diagram-img {
  width: 90%;
}

.horizontal-line {
  border-top: 2px solid #0a025d;
  width: 65%
}

.advantages-img {
  height: 80px;
  width: 75%;
}

@media screen and (max-width:767.9998px) {
  .contact-section {
    padding: 20vw 0;

    .contact-btn {
      padding: 1rem 2rem;
    }

    h2 {
      margin: 25px auto;
      font-size: 32px;
      line-height: 44px;
      letter-spacing: -0.25;
    }
  }

  .cicd-img {
    width: 90%
  }

  .challenge {
    background: linear-gradient(to right, #f4f5f8 100%, #fefefe 0%);
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .solution {
    background: linear-gradient(to left, #f4f5f8 100%, #fefefe 0%);
    margin-top: 6%;
    margin-bottom: 2%;
  }

  .section-container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .btn-circle {
    height: 25px;
    width: 25px;
  }

  .advantages {
    max-width: 100%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .challenge-img,
  .solution-img {
    width: 90px;
  }

  .nonMobile {
    display: none;
  }

  .hyper-scale-diagram {
    width: 90%;
  }

}

@media (max-width:575.98px) {
  .image-view__desktop {
    display: none;
  }

  .img-size-1 {
    max-width: 60%;
  }

  .py-x {
    padding: 3rem 10px;
  }

  .py-mob-only {
    padding-left: 25px;
    padding-right: 25px;
  }

  .challenge-img,
  .solution-img {
    width: 30%;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .img-size-1 {
    max-width: 65%;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .img-size-1 {
    max-width: 85%;
  }

  .challenge-img,
  .solution-img {
    width: 30%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .challenge-img,
  .solution-img {
    width: 100px;
  }

  .hyper-scale-diagram {
    width: 85%;
  }
}

@media (max-width: 991.998px) {
  .nonMobile {
    display: none;
  }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .cicd-img {
    width: 40%;
  }

  .challenge {
    background: linear-gradient(to right, #f4f5f8 75%, #fefefe 25%);
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .solution {
    background: linear-gradient(to left, #f4f5f8 75%, #fefefe 25%);
    margin-top: 6%;
    margin-bottom: 2%;
  }

  .solution-div {
    padding-left: 90px
  }

  .advantages {
    max-width: 80%;
  }

  .desktop {
    display: flex;
  }

  .mobile {
    display: none;
  }

  .challenge-img,
  .solution-img {
    width: 50%;
  }

  .hyper-scale-diagram {
    width: 65%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .points {
    height: 42px;
    width: 42px;
  }
}
