<div class="section-container">
  <div class="kubera-section-wrapper">
    <div class="home-video">
      <div class="home-storage-video" [innerHTML]="videoTagStorage"></div>
    </div>
    <div class="storage-txt">
      <h3 class="kubera-title">
        <span>True cloud</span>
        <span>native storage</span>
      </h3>
      <div class="storage-content">
        <p>We’re flexible, scalable, and limit your blast radius.
          Run the best OpenEBS storage engine for each application, rather than applying an outdated “one size
          fits all” model for storage.</p>
        <div class="router-link">
          <a routerLink="/local-persistent-volume-openebs">
            <button class="btn btn-primary">Learn More</button>
          </a>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <!-- <div class="row h-100">
          <div class="kubera-section">
            <div class="kubera-left">
              <h3 class="kubera-title">True cloud native storage</h3>
              <div class="kubera-content">
                <p>We’re flexible, scalable, and limit your blast radius.
                  Run the best OpenEBS storage engine for each application, rather than applying an outdated “one size
                  fits all” model for storage.</p>
                <a routerLink="/local-persistent-volume-openebs">
                  <button class="btn btn-primary">Learn More</button>
                </a>
              </div>
            </div>
            <div class="kubera-right">

            </div>
           <img lazyLoad="assets/images/home/kubera-1.png" alt="True cloud native storage" /> 
          </div>
        </div> -->
    <!-- <div class="kubera-section reverse">
          <div class="kubera-left">
            <h3 class="kubera-title">Push button experiences</h3>
            <div class="kubera-content">
              <p>Simplify complex operations like blue/green deployments, testing backups, moving workloads, and more.
                The
                web
                console for Kubera shows detailed monitoring, logging, and reporting about your workloads. Make changes
                with
                the
                click of a button. Or, just call the API.</p>
              <a routerLink="/product">
                <button class="btn btn-primary">Learn More</button>
              </a>
            </div>
          </div>
          <div class="kubera-right">
            <img lazyLoad="assets/images/home/kubera-2.png" alt="Push button experiences" />
          </div>
        </div>
        <div class="kubera-section">
          <div class="kubera-left">
            <h3 class="kubera-title">Follow the workload</h3>
            <div class="kubera-content">
              <p>The cloud is distributed, polyglot, and favors self-service. Build your own self-service storage layer
                with
                Kubera. Automatically apply encryption, policy, and other features without sacrificing developer
                experience.
              </p>
              <a routerLink="/product">
                <button class="btn btn-primary">Learn More</button>
              </a>
            </div>
          </div>
          <div class="kubera-right">
            <img lazyLoad="assets/images/home/kubera-3.png" alt="Follow the workload" />
          </div>
        </div> -->
  </div>

</div>