<section class="py-3 py-md-5 text-white" *ngIf="latestUpdate">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <div class="entity">
          <div class="text text-primary">New Updates</div>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-12 col-md-6 col-lg-4">
        <div>
          <div class="badge-1">{{latestUpdate.name}}</div>
          <img lazyLoad={{latestUpdate.image_url}} alt={{latestUpdate.image_alt}} class="img-fluid img" />
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-8 d-flex flex-column pt-3 pt-sm-0">
        <h4>{{latestUpdate.title}}</h4>
        <p style="flex: 1 1 auto;">{{latestUpdate.subtitle}}</p>
        <div>
          <a routerLink={{latestUpdate.url}} rel="noopener noreferrer" class="d-inline-block action-btn">
            <button class="btn btn-primary">{{latestUpdate.actionText}}</button>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="entity">
          <div class="line m-0"></div>
        </div>
      </div>
    </div>
  </div>
</section>