<section class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 text-white ">
        <div class="mb-5 mb-lg-0">
          <h1>Let’s get started</h1>
          <p>We at MayaData are eager to help you achieve data agility by running stateful workloads on Kubernetes,
            whether on premise or on one or more clouds. </p>
          <p>The journey to data agility starts with you learning about OpenEBS and can continue with our team providing
            expertise in implementing and operating data operations on Kubernetes.</p>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="get-started-card mb-4">
          <h6>Try it now</h6>
          <p>Kubera simplifies the deployment and operations of Kubernetes as your data plane. Free for individual use.
            Try it now.</p>
          <a href="https://go.mayadata.io/register-for-kubera-chaos-and-propel-technical-preview" target="_blank"
            rel="noopener noreferrer" class="cta">
            <button class="btn btn-primary btn-sm">Try it Now</button>
          </a>
        </div>
        <div class="get-started-card mb-4">
          <h6>Demo and discuss</h6>
          <p>We’d love to help you get familiar with Kubera. Want to take a look at Kubera for cross AZ resilience, for
            compliance reporting, for rolling upgrades of your data bases, or other use cases?</p>
          <a ngClass={{GTM.TRIGGERS.REQUESTADEMO}} href=""
            onclick="Calendly.showPopupWidget('https://calendly.com/mayadata/15min');return false;" class="cta">
            <button class="btn btn-primary btn-sm">Schedule demo</button>
          </a>
        </div>
        <div class="get-started-card">
          <h6>Join communities</h6>
          <p>If you are interested in contributing to OpenEBS - please join the OpenEBS slack in the Kubernetes Slack.
            If you’d like to get support directly from the builders of OpenEBS at MayaData, please register for Kubera -
            free for individual usage.</p>
          <div>
            <a href="https://kubernetes.slack.com/archives/CUAKPFU78" target="_blank" rel="noopener noreferrer"
              class="d-block mb-3">
              <button class="btn btn-primary btn-sm">Try it Now</button>
            </a>
            <a href="https://go.mayadata.io/register-for-kubera-chaos-and-propel-technical-preview" target="_blank"
              rel="noopener noreferrer" class="d-block">
              <button class="btn btn-outline-primary btn-sm">Try Kubera</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>