<section class="section-container professional-services-hero">
  <div class="hero-inner">
    <div class="container">
      <div class="row hero-wrapper">
        <div class="col-8 col-sm-6 col-md-6 col-lg-7 col-xl-9 hero-left">
          <h1>Accelerate your next data on <span>Kubernetes </span> project while reducing project risk by partnering
            with the experts
            at
            <span>MayaData</span>
          </h1>
          <p>Professional services are available to MayaData customers who are utilizing
            OpenEBS in their operations of stateful workloads on Kubernetes.</p>
          <!-- <p>We are seeing significant demand for professional service offerings along with our licensed support.</p> -->
        </div>
        <!-- <div class="col-md-5 hero-right">
          <img src="assets/images/professional-services/hero-image-ps.png" alt="">
        </div> -->
      </div>
      <div class="hero-buttons">

        <a class="btn btn-primary hero-btn-primary"
          onclick="Calendly.showPopupWidget('https://calendly.com/mayadata/discuss-openebs-and-kubera');return false;"
          href="">
          Talk to us
        </a>

      </div>
      <!-- app-homepage-companieslist -->

    </div>
  </div>
  <div class="hero-logo">
    <div class="container-fluid">
      <app-homepage-companieslist></app-homepage-companieslist>
    </div>
  </div>
</section>