.tc-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.time-caption {
  color: #626372;
}

.tc-title {
  padding-top: 4rem;
  font-weight: bold;
  color: #0063FF;
  font-size: 40px;
}

.terms-content {
  font-size: 16px;
  line-height: 22px;
  color: #23232A;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.terms-point {
  font-size: 16px;
  line-height: 22px;
  color: #23232A;
  list-style-type: disc;
  padding: 2rem;
  padding-top: 1rem;
}

.sub-title {
  font-weight: bold;
  padding-top: 10px;
}

.para-title {
  font-weight: bold;
}
