<div class="kubera-connect section-container">
  <div class="container">
    <div class="row inner-wrapper text-white">
      <div class="col-12 col-lg-6 what-kubera-left mb-5 mb-lg-0">
        <h2 class="kubera-left-title">Easily <span>connects with the tools you already use</span></h2>
        <p>OpenEBS is built on Kubernetes for Kubernetes. There’s no need to change your workflow or manifests. No need
          to change your environment, the standard K8s primitives are all Kubera needs.</p>
      </div>
      <div class="col-12 col-lg-6 what-kubera-right">
        <img lazyLoad="assets/images/home/connect.png" alt="Containers" class="img-fluid" />
      </div>
    </div>
  </div>
</div>