<section class="section-container">
  <div class="container text-white">
    <div class="row">
      <div class="col-12">
        <div>
          <h2>Have Questions ?</h2>
          <p>Have a question, hoping for a guided tour, or just need to talk to a human?</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <app-pricing-form></app-pricing-form>
      </div>
      <div class="col-12 col-md-6">
        <div class="mt-5 mt-md-0 px-md-5 right-head-content">
          <h6>Send us an email</h6>
          <p>sales@mayadata.io</p>
        </div>
      </div>
    </div>
  </div>
</section>