<section class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="thankyou-wrapper">
          <h2 class="text-white">Thank you! We have received your request</h2>
          <p class="text-white">We will reach out to you shortly! Meanwhile, please download our OpenEBS whitepaper and
            451 Research Report about why we are leaders in Data Agility.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="thankyou-cards py-5">
          <a href="/assets/pdf/WP-OpenEBS-0_7.pdf" target="_blank" rel="noopener noreferrer"
            class="text-white text-decoration-none">
            <img lazyLoad="assets/images/thanks/openebs.png" alt="OpenEBS" class="img-fluid w-100" />
            <h5 class="pt-4 text-white">OpenEBS white paper</h5>
            <p class="text-white">Container Attached Storage (CAS) and OpenEBS</p>
          </a>
          <a href="assets/pdf/451researchreport.pdf" target="_blank" rel="noopener"
            class="text-white text-decoration-none">
            <img lazyLoad="assets/images/thanks/research-451.png" alt="Research-451" class="img-fluid w-100" />
            <h5 class="pt-4 text-white">Report reprint</h5>
            <p class="text-white">MayaData unleashes open source cloud-native container storage built on OpenEBS</p>
          </a>
          <a href="https://kubernetes.slack.com/archives/CUAKPFU78" target="_blank" rel="noopener"
            class="text-white text-decoration-none">
            <img lazyLoad="assets/images/thanks/community.png" alt="Community" class="img-fluid w-100" />
            <h5 class="pt-4 text-white">OpenEBS community</h5>
            <p class="text-white">OpenEBS Project has a great community. Ask your questions and get started</p>
          </a>
          <a href={{signUpUrl}} target="_blank" rel="noopener" class="text-white text-decoration-none">
            <img lazyLoad="assets/images/thanks/kubera-director.png" alt="OpenEBS" class="img-fluid w-100" />
            <h5 class="pt-4 text-white">Kubera director</h5>
            <p class="text-white">Get visibility into your stateful applications. Connect your OpenEBS cluster to
              Kubera. It's free.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>