<div class="whats-new">
  <div class="container">
    <div class="new-title">
      <h2>What's new?</h2>
    </div>
    <div class="row">
      <div class="col-4 new-block event">
        <h3 class="new-box-title">Events</h3>
        <p class="new-box-content">Workshop: Advanced Kubernetes Concepts for Beginners</p>
        <div class="new-box-date">Date: 30th June, 7 AM PDT</div>
        <span>
          <a target="_blank"
            href="https://www.eventbrite.co.uk/e/advanced-kubernetes-concepts-for-beginners-tickets-158486285747"
            class="btn  btn-outline-primary">Register Now</a>
        </span>
      </div>

      <div class="col-4 new-block event">
        <h3 class="new-box-title">Blog</h3>
        <p class="new-box-content">Provisioning Direct Attached Storage for Kubernetes cluster using OpenEBS</p>
        <div class="new-box-date"></div>
        <span>
          <a target="_blank"
            href="https://blog.mayadata.io/how-to-provision-direct-attached-storage-das-for-a-kubernetes-cluster"
            class="btn  btn-outline-primary">Read More</a>
        </span>
      </div>

      <div class="col-4 new-block event">
        <h3 class="new-box-title">Solution Guide</h3>
        <p class="new-box-content">Deploying Elasticsearch on Kubernetes using OpenEBS LocalPV</p>
        <div class="new-box-date"></div>
        <span>
          <a target="_blank" href="https://mayadata.io/assets/pdf/deploying-elasticsearch-using-openebs-localpv.pdf"
            class="btn  btn-outline-primary">View More</a>
        </span>
      </div>

    </div>
  </div>
</div>