<section>
  <div class="bg-wrapper" style="z-index: 0;">
    <div class="bg"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="resources-section text-white">
          <h1 class="mb-3">Resources</h1>
          <p>At MayaData we drive data agility. As a team, we bring hundreds of years of experience building
            enterprise-class systems for automation, management, security, and especially data storage.</p>
        </div>
      </div>
    </div>
  </div>
</section>



<app-new-updates></app-new-updates>

<app-all-resources></app-all-resources>
