<section>
  <picture>
    <source media="(max-width: 767.99998px)" srcset="assets/images/hacktoberfest2019/bg-mobile.png">
    <img src="assets/images/hacktoberfest2019/bg.png" alt="hacktoberfest2019" class="img-fluid"
      style="width:100%;height:auto">
  </picture>
</section>


<section class="section2">
  <div class="container p-3 p-md-5">
    <div class="row py-5">
      <div class="col-12">
        <div class="colored-border-bottom">
          <h1 class="text-uppercase text-center h2 font-weight-bold">Get started on your hacktoberfest journey</h1>
        </div>
      </div>
      <div class="col-12 pt-3">
        <h3 class="text-uppercase text-center pb-5">Pick issues from the following repos</h3>
        <div class="d-flex justify-content-between pt-2" style="max-width: 776px;margin:auto;">
          <div class="row m-auto">
            <div class="col-md-6 d-flex justify-content-center align-items-center pb-5 pb-md-0">
              <a href="https://github.com/openebs/openebs/labels/Hacktoberfest" target="_blank">
                <button class="btn btn-primary" style="width:180px">OpenEBS</button>
              </a>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center pb-0 pb-md-0">
              <a href="https://github.com/litmuschaos/litmus/labels/Hacktoberfest" target="_blank">
                <button class="btn btn-primary" style="width:180px">LitmusChaos</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #152347;">
  <div class="container p-3 p-md-5">
    <div class="row">
      <div class="col-12 col-md-4  p-5 text-center">
        <i class="mi mi-book text-white" style="font-size:80px;" aria-hidden="true"></i>
        <a href="https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md" target="_blank">
          <p class="text-white h6 pt-3">Read the contributing guidelines for OpenEBS repository <i
              class="mi mi-arrow-right-circle" aria-hidden="true"></i></p>
        </a>
      </div>
      <div class="col-12 col-md-4 p-5 text-center">
        <i class="mi mi-edit text-white" style="font-size:80px;" aria-hidden="true"></i>
        <a href="https://blog.mayadata.io/mayadata-celebrates-hacktoberfest-2019" target="_blank">
          <p class="text-white h6 pt-3">Read our welcome blog <i class="mi mi-arrow-right-circle"
              aria-hidden="true"></i>
          </p>
        </a>
      </div>
      <div class="col-12 col-md-4 p-5 text-center">
        <i class="mi mi-slack text-white" style="font-size:80px;" aria-hidden="true"></i>
        <a href="https://join.slack.com/t/openebs-community/shared_invite/enQtNjcyMDI4NTc4MzQyLTA5MWYyZDQ3ZmE0MWU0YjU0ZDM5ZjlmNjNiNzhjMDNjMjk4MmQ0MDM3OGRmODczZDVhYjlmMzYzZWI2ZWYxNGQ"
          target="_blank">
          <p class="text-white h6 pt-3">For queries or to learn more, join our hacktoberfest channel <i
              class="mi mi-arrow-right-circle" aria-hidden="true"></i></p>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="section4">
  <div class="container text-center p-3 p-md-5">
    <div class="row">
      <div class="col-12 p-3">
        <h2 class="text-uppercase pb-3 font-weight-bold">Contribute to get swags & a chance to win the grand prize from
          MayaData</h2>
        <p class="h4">We are giving away special edition T-shirts and stickers to our hacktoberfest contributors.</p>
      </div>
    </div>
    <div class="row  px-5">
      <div class="col-12">
        <div class="colored-border-bottom ">
          <h3 class="text-uppercase">The best PR submission will win a brand new laptop!</h3>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 p-5 d-flex justify-content-center align-items-center">
            <img src="assets/images/hacktoberfest2019/laptop.png" class="img-fluid laptop">
          </div>
          <div class="col-12 col-md-6 p-5 d-flex justify-content-center align-items-center">
            <img src="assets/images/hacktoberfest2019/tshirt.png" class="img-fluid tshirt">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #152347;">
  <div class="container py-5 text-white">
    <div class="row p-3 p-md-5">
      <div class="col-12  text-center">
        <h2 class="text-uppercase pb-3 font-weight-bold">Bangalore Onsite Hacktoberfest Workshops</h2>
        <p class="text-white h4">Hacktoberfest is celebrated all around the world and you can participate from
          anywhere. If you are in Bangalore, come and meet us in our Hacktoberfest workshops</p>
      </div>
    </div>
    <div class="row  text-center">
      <div class="col-12">
        <div class="colored-border-bottom">
          <h2 class="text-uppercase h3">Details of the onsite events for october</h2>
        </div>
        <div class="row  p-5">
          <div class="col-12 col-md-3 pb-5 pb-md-0">
            <a href="https://www.meetup.com/OpenSource-Cafe/events/264984275/" target="_blank">
              <img src="assets/images/hacktoberfest2019/5Oct.png" class="img-fluid" style="max-width: 55%">
              <h5 class="text-white text-uppercase font-weight-bold pt-2">10AM-4PM</h5>
              <p class="text-white text-uppercase mb-0">Open Source Cafe</p>
              <p class="text-white text-uppercase mb-0">HSR LAYOUT, Bangalore</p>
              <p class="text-white">By MayaData</p>
            </a>
          </div>
          <div class="col-12 col-md-3 pb-5 pb-md-0">
            <a href="https://www.meetup.com/OpenSource-Cafe/events/264984331/" target="_blank">
              <img src="assets/images/hacktoberfest2019/12Oct.png" class="img-fluid" style="max-width: 55%">
              <h5 class="text-white text-uppercase font-weight-bold pt-2">10AM-4PM</h5>
              <p class="text-white text-uppercase mb-0">The Terrace @ Hasura</p>
              <p class="text-white text-uppercase mb-0">Koramangala, Bangalore</p>
              <p class="text-white">By MayaData</p>
            </a>
          </div>
          <div class="col-12 col-md-3 pb-5 pb-md-0">
            <a href="https://www.meetup.com/OpenSource-Cafe/events/264984400/" target="_blank">
              <img src="assets/images/hacktoberfest2019/19Oct.png" class="img-fluid" style="max-width: 55%">
              <h5 class="text-white text-uppercase font-weight-bold pt-2">10AM-4PM</h5>
              <p class="text-white text-uppercase mb-0">Nexus Venture Partners</p>
              <p class="text-white text-uppercase mb-0">Prestige Sterling Square</p>
              <p class="text-white">By MayaData</p>
            </a>
          </div>
          <div class="col-12 col-md-3 pb-0 pb-md-0">
            <a href="https://www.meetup.com/OpenSource-Cafe/events/264984487/" target="_blank">
              <img src="assets/images/hacktoberfest2019/26Oct.png" class="img-fluid" style="max-width: 55%">
              <h5 class="text-white text-uppercase font-weight-bold pt-2">10AM-4PM</h5>
              <p class="text-white text-uppercase mb-0">Microsoft India</p>
              <p class="text-white text-uppercase mb-0">Bellandur, Bangalore</p>
              <p class="text-white">By MayaData</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
