<div class="section-container bg-secondary kubera-benefit-section">
  <img lazyLoad="assets/images/mayadata-landing/oval.svg" alt="Oval"
    class="img-fluid kubera-benefit-section__bg-img d-none d-lg-block">
  <div class="container">
    <div class="row h-100">
      <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mt-auto">
        <div class="p-4 quotes--block bg-tertiary text-white mt-auto">
          <p class="quotes--text"><em>Computer, belay that order. Well, I'll say this for him - he's sure of himself.
              This should be interesting. Smooth as an android's bottom, eh, Data? Could someone survive inside a
              transporter buffer for 75 years? I am your worst nightmare! We could cause a diplomatic crisis. </em></p>
          <div class="d-inline-flex align-items-center justify-content-center">
            <div class="quotes--image-block">
            </div>
            <div class="pl-3">
              <p class="font-bold mb-1">John Doe</p>
              <p class="mb-1">CEO, ABC</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-center align-items-center flex-column">
        <div class="my-auto">
          <h2 class="h1 text-white">Benefits from <span class="text-tertiary">data agility in K8s</span></h2>
          <p class="text-white">Computer, belay that order. Well, I'll say this for him - he's sure of himself. This
            should be interesting.
            Smooth as an android's bottom, eh, Data? Could someone survive inside a transporter buffer for 75 years? I
            am
            your worst nightmare! We could cause a diplomatic crisis. Take the ship into the Neutral Zone Talk about
            going
            nowhere fast. I'll alert the crew. I suggest you drop it, Mr. Data. </p>
          <p class="text-white">I guess it's better to be lucky than good. Did you come here for something in particular
            or just general
            Riker-bashing? </p>
          <p class="text-white">The unexpected is our normal routine. This is not about revenge. This is about justice.
          </p>
          <p class="text-white">I've had twelve years to think about it. And if I had it to do over again, I would have
            grabbed the phaser
            and pointed it at you instead of them. </p>
        </div>
      </div>
    </div>
  </div>
</div>