.advantage-card {
  padding: 16px;
  border: 1px solid rgba(102, 61, 219, 0.72);
  margin-bottom: 40px;
  border-radius: 10px;
  max-width: 480px;
}

.advantage-card:hover {
  background: linear-gradient(82.94deg, rgba(102, 61, 219, 0.144) 17.14%, rgba(169, 61, 219, 0.194) 79.8%);
}
