<div class="main-product-wrapper">
  <!-- app-product-page-hero -->
  <app-product-page-hero></app-product-page-hero>

  <!-- app-product-page-cloud -->
  <app-product-page-cloud></app-product-page-cloud>

  <!-- app-product-page-benefit -->
  <app-product-page-benefit></app-product-page-benefit>

  <!-- app-product-page-explainer -->
  <app-product-page-explainer></app-product-page-explainer>

  <!-- app-product-page-learnmore -->
  <app-product-page-learnmore></app-product-page-learnmore>

  <!-- app-product-page-platforms -->
  <app-product-page-platforms></app-product-page-platforms>

</div>
