<section class="section-container" style="padding-top: 0;">
  <div class="price-table">
    <ul class="head-title">
      <li class="heading">service</li>
      <li class="heading">Business</li>
      <li class="heading">Standard</li>
      <li class="heading">Community</li>
    </ul>
    <ul>
      <li class="normal-row"><span class="icon"><img src="assets/images/pricing/icon/01.png"></span>
        <p>Price</p>
      </li>
      <li class="normal-row"><span>starting at</span><span class="package-price">$150</span><span>per node / per
          month</span></li>
      <li class="normal-row"><span class="package-price">$100</span><span>per node / per month</span></li>
      <li class="normal-row">Free</li>
    </ul>
    <ul>
      <li class="normal-row"><span class="icon"><img src="assets/images/pricing/icon/02.png"></span>
        <p>Support</p>
      </li>
      <li class="normal-row">24*7 Direct web, email & phone support from MayaData Engineers</li>
      <li class="normal-row">8*5 Direct web & email support from MayaData Engineers</li>
      <li class="normal-row">Community: Public Slack Channel</li>
    </ul>
    <ul>
      <li class="normal-row"><span class="icon"><img src="assets/images/pricing/icon/1.png"></span>
        <p>Indemnification</p>
      </li>
      <li class="normal-row"><img src="assets/images/pricing/check.png"></li>
      <li class="normal-row"><img src="assets/images/pricing/check.png"></li>
      <li class="normal-row"></li>
    </ul>
    <ul>
      <li class="normal-row"><span class="icon"><img src="assets/images/pricing/icon/2.png"></span>
        <p>Operational Audit</p>
      </li>
      <li class="normal-row">1/month</li>
      <li class="normal-row">1/quarter</li>
      <li class="normal-row"></li>
    </ul>
    <ul>
      <li class="normal-row"><span class="icon"></span>
        <p>Monitoring integration & customization</p>
      </li>
      <li class="normal-row"><img src="assets/images/pricing/check.png"></li>
      <li class="normal-row"><img src="assets/images/pricing/check.png"></li>
      <li class="normal-row"></li>
    </ul>
    <ul>
      <li class="normal-row"><span class="icon"><img src="assets/images/pricing/icon/4.png"></span>
        <p>CKAs/CKADs/CKAs Assistance</p>
      </li>
      <li class="normal-row"><img src="assets/images/pricing/check.png"></li>
      <li class="normal-row"><img src="assets/images/pricing/check.png"></li>
      <li class="normal-row"></li>
    </ul>
    <ul>
      <li class="normal-row"><span class="icon"><img src="assets/images/pricing/icon/5.png"></span>
        <p>Includes support of additional tools</p>
      </li>
      <li class="normal-row"><img src="assets/images/pricing/check.png"></li>
      <li class="normal-row"><img src="assets/images/pricing/check.png"></li>
      <li class="normal-row"><img src="assets/images/pricing/check.png"></li>
    </ul>
    <ul>
      <li class="normal-row"><span class="icon"><img src="assets/images/pricing/icon/6.png"></span>
        <p>Architecture Support</p>
      </li>
      <li class="normal-row">Dedicated Guidance</li>
      <li class="normal-row">General Guidance</li>
      <li class="normal-row"></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center flex-column flex-md-row pt-4">
        <a routerLink="/contactus" rel="noopener noreferrer" class="d-inline-block mr-md-5 mb-4 pricing-cta">
          <button class="btn btn-primary">Contact us for your Usecase</button>
        </a>
      </div>
    </div>
  </div>
</section>