<!-- 24x7 support start -->
<section class="service-24hours">
  <div class="container">
    <div class="row service-block-wrapper">
      <div class="col-12 col-md-6 service-block-left">
        <h2>Enterprise Support for <span>OpenEBS</span></h2>
        <div class="d-flex justify-content-start align-items-start pricing-cta-section flex-column flex-md-row pt-4">
          <a routerLink="/get-pricing" rel="noopener noreferrer" class="d-inline-block mr-md-5 mb-4">
            <button class="btn btn-primary">Learn more about Pricing</button>
          </a>
        </div>
        <!-- <h3>Get expert production support and professional services from MayaData</h3> -->
      </div>

      <div class="col-12 col-md-6 service-inner">
        <div class="service-block-right">
          <ul class="level-1">
            <li><span>Direct assistance</span> from OpenEBS engineers</li>
            <li><span>Optional 24/7 support</span> from CKAD/CKA/CKS</li>
            <li><span>Extensive experience</span> with K8s platforms</li>
            <li><span>Production experience</span> with modern use cases
              <ul class="level-2">
                <li>CI/CD on Kubernetes</li>
                <li>CMS on Kubernetes</li>
                <li>Databases on Kubernetes</li>
                <li>Data pipelines on Kubernetes</li>
                <li>High speed caches</li>
                <li>Key/Value Stores</li>
                <li>Object Stores</li>
              </ul>
            </li>
          </ul>

        </div>
        <div class="support-cube">

        </div>
        <!--<div class="support-tringle">
        
          <ng-lottie containerClass="moving-box moving-box-second-class support-tringle" [options]="optionsTriangle"
            (animationCreated)="animationCreated($event)">
          </ng-lottie> 
      </div>-->
      </div>
    </div>
    <div *ngIf="displayBlock" class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center align-items-center pricing-cta-section flex-column flex-md-row pt-4">
          <a routerLink="/openebs-support" rel="noopener noreferrer" class="d-inline-block mr-md-5 mb-4">
            <button class="btn btn-primary">Know more about OpenEBS</button>
          </a>
        </div>
      </div>

    </div>
  </div>

</section>
<!-- 24x7 support END -->