<div class="section-container bg-tertiary text-white">
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <h2 class="h1 text-center text-white">Built on a Solid Foundation</h2>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-12 col-lg-6 order-2 order-lg-1">
        <div class="pt-5 pt-lg-0 d-flex flex-column justify-content-center h-100 text-center text-lg-left">
          <h2 class="h2 text-white">Built upon <span class="text-secondary">OpenEBS</span></h2>
          <p>Kubera is built upon the leading open source Kubernetes Native storage solution, OpenEBS.</p>
          <p>As of the Fall of 2019, OpenEBS was being evaluated by approximately 40% of all CNCF survey respondents,
            much
            more than storage from NetApp, EMC, PureStorage or others.</p>
          <p>And the Kubernetes community loves us, as you can see in this recent Twitter survey on the right.</p>
          <p>Learn more about how users like Comcast, Orange, Arista and others use OpenEBS.</p>
          <div>
            <a href="https://github.com/openebs/openebs/blob/master/ADOPTERS.md" target="_blank"
              rel="noopener noreferrer" class="btn btn-secondary">
              Learn more
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 order-1 order-lg-2">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">Which Cloud Native Storage Solution are you currently using or consider to use in
              the near future?<br>Others like <a
                href="https://twitter.com/Rancher_Labs?ref_src=twsrc%5Etfw">@Rancher_Labs</a>&#39; Longhorn? Please
              reply!<a href="https://twitter.com/hashtag/Kubernetes?src=hash&amp;ref_src=twsrc%5Etfw">#Kubernetes</a>
              <a href="https://twitter.com/openebs?ref_src=twsrc%5Etfw">@openebs</a> <a
                href="https://twitter.com/portwx?ref_src=twsrc%5Etfw">@portwx</a> <a
                href="https://twitter.com/rook_io?ref_src=twsrc%5Etfw">@rook_io</a> <a
                href="https://twitter.com/Storage_OS?ref_src=twsrc%5Etfw">@Storage_OS</a>
            </p>&mdash; Kubernauts
            (@kubernauts) <a href="https://twitter.com/kubernauts/status/1269378083813036032?ref_src=twsrc%5Etfw">June
              6, 2020</a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section-container bg-tertiary text-white">
  <div class="container py-3">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="d-flex flex-column justify-content-center h-100">
          <div class="mx-2 mx-sm-5 mr-lg-5 ml-lg-0">
            <table class="table table-bordered text-white border-0 text">
              <thead>
                <tr>
                  <th scope="col" class="border-0 font-weight-bold h5">Company</th>
                  <th scope="col" class="border-0 font-weight-bold h5 text-center">Rank for PRs to CNCF</th>
                </tr>
              </thead>
              <tbody class="text-light">
                <tr>
                  <td class="border-0">Google</td>
                  <td class="border-0 text-center">1st</td>
                </tr>
                <tr class="zebra-stripe">
                  <td class="border-0">Red Hat</td>
                  <td class="border-0 text-center">2nd</td>
                </tr>
                <tr>
                  <td class="border-0">VMware</td>
                  <td class="border-0 text-center">3rd</td>
                </tr>
                <tr class="zebra-stripe">
                  <td class="border-0">Microsoft</td>
                  <td class="border-0 text-center">4th</td>
                </tr>
                <tr class="font-weight-bold h5 text-white">
                  <td class="border-0">
                    <div>
                      <img lazyLoad="assets/images/mayadata-landing/mayadata-logo.svg" alt="MayaData Logo"
                        class="img-fluid mayadata-logo" />
                    </div>
                  </td>
                  <td class="border-0 text-center">5th</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-white pt-2 mx-2 mx-sm-5 mr-lg-5 ml-lg-0"><small><span>Source: <a
                  href="https://all.devstats.cncf.io/d/21/prs-authors-companies-table?orgId=1" target="_blank"
                  rel="noopener noreferrer" class="text-white dotted-1 border-white">All CNCF PRs
                  authors</a></span></small>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div
          class="d-flex flex-column justify-content-center align-items-center align-items-lg-start h-100 pt-5 pt-lg-0 text-center text-lg-left">
          <h2 class="h2 text-white">Built with <span class="text-secondary">Open Source</span></h2>
          <p>MayaData believes in the power of open source to accelerate
            collaboration and to reduce lock-in. Open source always wins <span class="font-italic">eventually</span>,
            and for data on Kubernetes it’s winning right <span class="font-italic">now</span>. </p>
          <p>MayaData is one of the top contributors to CNCF projects overall, leading the open source charge for data
            on Kubernetes across several projects with large & healthy communities.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-container bg-tertiary text-white">
  <div class="container pt-3 pb-5">
    <div class="row">
      <div class="col-12 col-lg-6 order-2 order-lg-1">
        <div class="d-flex flex-column justify-content-center h-100 pt-5 pt-lg-0 text-center text-lg-left">
          <h2 class="h2 text-white">Built for <span class="text-secondary">Data + Ops</span></h2>
          <p>Kubera builds upon thousands of hours of helping users running high value workloads like Cassandra,
            Elastic,
            Kafka, GitLab and others on OpenEBS either with Dynamic LocalPV or storage engines.</p>
          <p>MayaData is the clear leader in using Kubernetes as a data layer, with the most comprehensive offerings:
          </p>
          <ul class="text-left">
            <li><span class="font-weight-bold">OpenEBS:</span> the leading multi-engine storage layer</li>
            <li><span class="font-weight-bold">LitmusChaos:</span> Chaos Engineering for stateful workloads on
              Kubernetes
            </li>
            <li><span class="font-weight-bold">Kubera:</span> logging, alerting, reporting, back-up, enterprise
              compliance, and more</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-6 order-1 order-lg-2">
        <div class="d-flex flex-column justify-content-center h-100">
          <img lazyLoad="assets/images/mayadata-landing/dataops.svg" alt="Data Ops" class="img-fluid why-kubera-img" />
        </div>
      </div>
    </div>
  </div>
</div>