.accordion-item {
  display: flex;
  flex-direction: column;
  background-color: var(--shadowblue);
  padding: 16px;
  margin-bottom: 32px;
  color: var(--secondary);
  border-radius: 8px;
  cursor: pointer;
  max-height: 60px;
  transition: max-height 0.15s linear;
}

.accordion-item-head {
  display: flex;
  align-items: center;
}

.accordion-item-head span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  font-size: 20px;
  background-color: transparent;
  margin-right: 30px;
}

.accordion-item-body {
  display: none;
  padding-top: 16px;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
  height: 0px;
  visibility: hidden;
}

/*  Common For All and for mobile */
.mi-x {
  transform: rotate(-45deg);
  transition: transform 0.2s linear;
}

.rotate-icon {
  transform: rotate(0deg);
  transition: transform 0.25s linear;
}

.accordion-item-body-active {
  background-color: var(--primary);
  color: var(--white);
  max-height: 400px;
  transition: max-height 0.25s linear;
}

.workloads-faq-section {
  position: relative;
}


/*  Tablet  */

@media screen and (min-width:576px) {}

@media screen and (min-width:768px) {}

@media screen and (min-width:992px) {

}

/* Desktop */

@media screen and (min-width:1200px) {}

@media screen and (min-width:1500px) {}

// optional

@media screen and (min-width:1900px) {}

// optional
