<div class="section-container bg-shadowblue" style="z-index: 100;">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="d-flex justify-content-center align-items-center">
          <img lazyLoad="assets/images/mayadata-landing/supports.png" alt="Enterprise grade supports" class="img-fluid">
        </div>
      </div>
      <div class="col-12 col-lg-6 d-flex">
        <div class="my-auto pt-5 text-center text-lg-left">
          <h2 class="h1 text-white">Enterprise-grade support for <span class="text-secondary">OpenEBS</span></h2>
          <p>MayaData provides support for OpenEBS via the Kubera platform and makes it available for free for
            individual use for those users not wishing to pay for support. 24 x 7 support and related professional
            services are available.</p>
          <div
            class="support-btn-block mt-4 d-flex justify-content-center justify-content-lg-start align-items-center flex-column flex-md-row">
            <a href={{signUpUrl}} class="d-inline-block mr-md-5 mb-4">
              <button class="btn btn-secondary">Sign Up</button>
            </a>
            <a href="/get-pricing" class="mb-4">
              <button class="btn btn-outline-secondary">View Tiers</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>