.users-logo-section {
  max-width: 800px;
  margin: auto;
}

.logo-img {
  max-width: 200px;
}

.user-info {
  max-width: 600px;
  border-radius: 4px;
}

.user-quotes-section {
  position: relative;
  height: 300px;
}

.user-quotes {
  max-width: 520px;
  border-radius: 8px;
  position: absolute;
  top: -20px;
  left: 250px;
}

.user-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.logo-block {
  height: 120px;
  width: 120px;
}

.logo {
  max-height: 80px;
}
