<!-- Usecase Introduction -->
<app-usecase-intro [data]="cicd.intro"></app-usecase-intro>
<!-- Usecase Introduction End -->

<!-- Usecase Issues -->
<app-usecase-issues [data]="cicd.issues"></app-usecase-issues>
<!-- Usecase Issues End-->

<!-- Usecase Solutions -->
<app-usecase-solutions [data]="cicd.solutions"></app-usecase-solutions>
<!-- Usecase Solutions End -->


<!-- Usecase Deploy Using OpenEBS -->
<app-usecase-deploy-using-openebs [data]="cicd.deployUsingOpenEBS"></app-usecase-deploy-using-openebs>
<!-- Usecase Deploy Using OpenEBS End -->


<!-- Usecase Advantages -->
<app-usecase-advantages [data]="cicd.advantages"></app-usecase-advantages>
<!-- Usecase Advantages End -->

<!-- Usecase CTA -->
<app-usecase-cta [data]="cicd.cta"></app-usecase-cta>
<!-- Usecase CTA End -->
