<div class="main-wrapper">

  <!-- Home Page Hero Section -->
  <app-homepage-hero></app-homepage-hero>

  <!-- app-homepage-companieslist -->
  <app-homepage-companieslist></app-homepage-companieslist>

  <!-- missing storage -->
  <app-homepage-kubera-storage></app-homepage-kubera-storage>

  <!-- app-homepage-kubera-mid-content -->
  <app-homepage-kubera-mid-content></app-homepage-kubera-mid-content>

  <!-- connects -->
  <app-homepage-kubera-connects></app-homepage-kubera-connects>

  <!-- trust -->
  <app-homepage-kubera-trust></app-homepage-kubera-trust>

  <!-- what's new  -->
  <app-homepage-whatnew></app-homepage-whatnew>

</div>