<form class="form mt-4" (ngSubmit)="SendDetails()" novalidate [formGroup]="leadForm">
  <div class="">
    <div class="input-text">
      <div class="form-group mb-3">
        <label for="first_name" class="text-uppercase">First Name</label>
        <input type="text" class="form-control form-control-lg" [ngClass]="{
              'valid_input':first_name.valid && (first_name.touched || first_name.dirty),
              'invalid_input':first_name.invalid && (first_name.touched || first_name.dirty || isFormEmpty)
              }"
          id="first_name" formControlName="first_name" required>
      </div>
    </div>
    <div class="input-text">
      <div class="form-group mb-3">
        <label for="last_name" class="text-uppercase">Last Name</label>
        <input type="text" class="form-control form-control-lg" [ngClass]="{
              'valid_input':last_name.valid && (last_name.touched || last_name.dirty),
              'invalid_input':last_name.invalid && (last_name.touched || last_name.dirty || isFormEmpty)
              }"
          id="last_name" formControlName="last_name" required>
      </div>
    </div>
    <div class="input-text">
      <div class="form-group mb-3">
        <label for="company" class="text-uppercase">Company</label>
        <input type="text" class="form-control  form-control-lg" [ngClass]="{
              'valid_input':company.valid && (company.touched || company.dirty),
              'invalid_input':company.invalid && (company.touched || company.dirty || isFormEmpty) 
              }"
          id="company" formControlName="company" required>
      </div>
    </div>
    <div class="input-text">
      <div class="form-group mb-3">
        <label for="job_title" class="text-uppercase">Job Title</label>
        <input type="text" class="form-control form-control-lg" [ngClass]="{
              'valid_input':job_title.valid && (job_title.touched || job_title.dirty),
              'invalid_input':job_title.invalid && (job_title.touched || job_title.dirty || isFormEmpty) 
              }"
          id="job_title" formControlName="job_title" required>
      </div>
    </div>
    <div class="input-text">
      <div class="form-group mb-3">
        <label for="email" class="text-uppercase">Email Address</label>
        <input type="email" class="form-control form-control-lg" [ngClass]="{
              'valid_input':email.valid && (email.touched || email.dirty),
              'invalid_input':email.invalid && (email.touched || email.dirty || isFormEmpty)
              }"
          id="email" formControlName="email" required>
      </div>
    </div>
    <div class="input-text">
      <div class="form-group mb-3">
        <label for="contact_number" class="text-uppercase">Contact Number</label>
        <input type="number" class="form-control form-control-lg" [ngClass]="{
              'valid_input':contact_number.valid && (contact_number.touched || contact_number.dirty),
              'invalid_input':contact_number.invalid && (contact_number.touched || contact_number.dirty || isFormEmpty)
              }"
          id="contact_number" formControlName="contact_number" required>
      </div>
    </div>
    <div class="input-text">
      <div class="form-group mb-3">
        <label for="message" class="text-uppercase">Message</label>
        <textarea rows="4" cols="50" class="form-control" style="border-radius:0px" [ngClass]="{
              'valid_input':message.valid && (message.touched || message.dirty),
              'invalid_input':message.invalid && (message.touched || message.dirty || isFormEmpty)
              }"
          id="message" formControlName="message"></textarea>
      </div>
    </div>
  </div>
  <div class="mt-5 text-center">
    <button type="submit" class="btn btn-dark btn-small m-auto">Submit</button>
  </div>
</form>
