<div class="section-container bg-shadowblue" style="z-index: 100;">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 d-flex order-2 order-lg-2">
        <div class="my-auto pt-5 text-center text-lg-left">
          <h2 class="h1 text-white"><span class="text-secondary">Free forever</span> for personal use</h2>
          <p>Kubera is the best way to try out OpenEBS,
            and it’s free forever for personal use. Why not sign up and see what you can achieve when you unleash
            Kubernetes today? </p>
          <div
            class="support-btn-block mt-4 d-flex justify-content-center justify-content-lg-start align-items-center flex-column flex-md-row">
            <a href={{signUpUrl}} class="d-inline-block mr-md-5 mb-4">
              <button class="btn btn-secondary">Sign Up</button>
            </a>
            <a href="/get-pricing" class="mb-4">
              <button class="btn btn-outline-secondary">View Tiers</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 order-1 order-lg-1">
        <div class="d-flex justify-content-center align-items-center">
          <img lazyLoad="assets/images/mayadata-landing/free-forever.png" alt="Free forever"
            class="img-fluid free-forever">
        </div>
      </div>
    </div>
  </div>
</div>