<div class="learnmore">
  <div class="container">
    <div class="row">
      <h3 class="learn-more-title">Learn More</h3>
      <div class="learnmore-box-wrapper">
        <div class="learnmore-box">
          <span class="lear-img">
            <img lazyLoad="assets/images/product/learnmore-4.png" alt="Learn More Image" class="img-fluid" />
          </span>
          <h3 class="box-title">OpenEBS Mayastor is the fastest open source storage solution for Kubernetes</h3>
          <p>Read the joint benchmarking by MayaData & Intel on the lighting fast storage solutions with OpenEBS
            Mayastor and Intel® OptaneTM.</p>
          <span class="box-link">
            <a routerLink="/casestudies/intel-and-mayadata-benchmarking-of-openEBS-mayastor">
              <button class="btn btn-primary">Read more</button>
            </a>
          </span>
        </div>

        <div class="learnmore-box">
          <span class="lear-img">
            <img lazyLoad="assets/images/product/learnmore-1.png" alt="Learn More Image" class="img-fluid" />
          </span>
          <h3 class="box-title">See Our Partners</h3>
          <p>Kubera runs on-prem, in the cloud, and on nearly every Kubernetes environment.</p>
          <span class="box-link">
            <a routerLink="/partners">Details <span><img lazyLoad="assets/images/product/box-arrow.png"
                  alt="Image"></span></a>
          </span>
        </div>

        <div class="learnmore-box">
          <span class="lear-img">
            <img lazyLoad="assets/images/product/learnmore-2.png" alt="Learn More Image" class="img-fluid" />
          </span>
          <h3 class="box-title">Read the Docs</h3>
          <p>Learn more about the details of Kubera.</p>
          <span class="box-link">
            <a href="https://help.mayadata.io/hc/en-us" target="_blank" rel="noopener noreferrer">Details <span><img
                  lazyLoad="assets/images/product/box-arrow.png" alt="Image"></span></a>
          </span>
        </div>

        <div class="learnmore-box">
          <span class="lear-img">
            <img lazyLoad="assets/images/product/learnmore-3.png" alt="Learn More Image" class="img-fluid" />
          </span>
          <h3 class="box-title">Discover Pricing</h3>
          <p>Use Kubera for free, and learn what you get with a paid plan.</p>
          <span class="box-link">
            <a routerLink="/get-pricing">Details <span><img lazyLoad="assets/images/product/box-arrow.png"
                  alt="Image"></span></a>
          </span>
        </div>


      </div>
    </div>
  </div>
</div>