.deployment-section {
  background-color: #191428;
}

.usecase-main-heading {
  max-width: 600px;
}

.usecase-body-wrapper {
  border-radius: 8px;
}

.usecase-body {
  max-width: 600px;
  margin: auto;
}
