<div class="section-container">
  <div class="feature">
    <div class="container py-lg-5">
      <div class="row">
        <div class="col-12 col-lg-6 order-2 order-lg-1">
          <div class="pt-5 py-lg-0 text-center text-lg-left">
            <h2 class="h1 text-primary">Unleash Kubernetes as your data plane</h2>
            <p>Per workload <span class="font-weight-bold">Container Attached Storage</span> - including access to the
              underlying hardware & cloud volumes via
              LocalPV - supports the loose coupling of workloads and teams that Kubernetes enables.</p>
            <p>The skills, tools, and best practices of managing Kubernetes apply to the use of it as a data plane. By
              comparison the care and feeding of shared everything storage services and hardware systems is a
              specialized skill, leading to team silos and lock-in.</p>
          </div>
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2">
          <div class="d-flex justify-content-center align-items-center h-100">
            <img lazyLoad="assets/images/mayadata-landing/k8s-as-data-plane.svg" alt="Kubernetes as data plane"
              class="img-fluid feature-img" />
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section-container">
    <div class="container py-lg-5">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="d-flex justify-content-center align-items-center h-100">
            <img lazyLoad="assets/images/mayadata-landing/save-money-with-kubera.svg" alt="Save money with Kubera"
              class="img-fluid feature-img" />
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="pt-5 py-lg-0 text-center text-lg-left">
            <h2 class="h1 text-primary">Save Money with Kubera</h2>
            <p>Using local disk or cloud volumes without Kubera can be extremely wasteful. Kubera uses the <span
                class="font-italic">dynamic</span> and
              often <span class="font-italic">thin</span> provisioning of OpenEBS to save 75% or more on cloud costs.
            </p>
            <p>Kubera gives operators the visibility, reporting, alerting and more necessary to optimize capacity and
              also to automate the care and feeding of their environment, including upgrading the infrastructure and the
              stateful workloads running on Kubera, and configuring the environment for resilience via cross AZ
              configurations, back-ups, DR, or cloud migrations.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5 order-2 order-lg-1">
          <div class="pt-5 py-lg-0 text-center text-lg-left">
            <h2 class="h1 text-primary">Move Faster with Kubera</h2>
            <p>Kubera unlocks teams by unlocking Kubernetes.</p>
            <p>Want to move development from Cloud A to Cloud B? No problem, you are not locked in and Kubera can help
              migrate any data you need moved on a per team and per workload basis.</p>
            <p>Want to make sure developers are in control - add Kubera and you’ll get dynamic provisioning and
              management of the underlying infrastructure - and your operations team will be kept informed and able to
              ensure resilience, compliance, and cost savings.</p>
          </div>
        </div>
        <div class="col-12 col-lg-7 order-1 order-lg-2">
          <div class="d-flex justify-content-center align-items-center h-100">
            <img lazyLoad="assets/images/mayadata-landing/move-faster-with-kubera.jpg" alt="Move faster with Kubera"
              class="img-fluid feature-img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>