<!-- Hero Section -->
<!-- <app-workload-hero [intro]="cassandra.intro"></app-workload-hero> -->
<!-- Hero Section End -->

<!-- Why Workload -->
<app-why-workload [data]="cassandra.whyWorkload"></app-why-workload>
<!-- Why Workload End -->

<!-- Workload How to Deploy -->
<app-workload-how-to-deploy [data]="cassandra.workloadJourney"></app-workload-how-to-deploy>
<!-- Workload How to Deploy End -->

<!-- Workload Users -->
<!-- <app-workload-users></app-workload-users> -->
<!-- Workload Users End -->

<!-- Workload Operators -->
<app-workload-operators [data]="cassandra.operators"></app-workload-operators>
<!-- Workload Operators End-->

<!-- Workload Benefits -->
<app-workload-benefits [data]="cassandra.benefits"></app-workload-benefits>
<!-- Workload Benefits End -->

<!-- Workload Resources -->
<app-workload-resources [data]="cassandra.resources"></app-workload-resources>
<!-- Workload Resources End-->

<!-- Workload Events -->
<app-workload-events [data]="cassandra.events"></app-workload-events>
<!-- Workload Events End -->

<!-- Workload Past Events -->
<!-- <app-workload-past-events></app-workload-past-events> -->
<!-- Workload Past Events End -->

<!-- Workload FAQs -->
<!-- <app-workload-faqs></app-workload-faqs> -->
<!-- Workload FAQs End -->

<!-- Workload Get Started -->
<!-- <app-workload-get-started></app-workload-get-started> -->
<!-- Workload Get Started End -->

<!-- Workload Partners -->
<!-- <app-workload-partners></app-workload-partners> -->
<!-- Workload Partners End -->

<!-- Workload Support -->
<app-workload-support [data]="cassandra.support"></app-workload-support>
<!-- Workload Support End -->
