<div class="what-kubera-bg">
  <div class="container">
    <div class="row inner-wrapper">
      <div class="col-12 col-lg-6 what-kubera-left mb-5 mb-md-0">
        <h2 class="kubera-left-title">What is Kubera?</h2>
        <p>Kubera provides storage for Kubernetes. Kubera includes a long term support version of OpenEBS, purpose built
          management software with an intuitive GUI and APIs, and other tools backed by 24x7 enterprise support.</p>
      </div>
      <div class="col-12 col-lg-6 what-kubera-right">
        <img lazyLoad="assets/images/home/what-kubera.png" alt="Containers" class="img-fluid" />
      </div>
    </div>
    <div class="row tech-wrapper">
      <div class="col-12 col-md-6 mb-5 mb-md-0 text-white">
        <img lazyLoad="assets/images/home/openess.png" alt="Image" class="img-fluid" />
        <p>The most popular open source, cloud native storage solution.</p>
        <a routerLink="/get-pricing" rel="noopener noreferrer">Get Enterprise Support <img
            lazyLoad="assets/images/home/link.png"></a>
      </div>
      <div class="col-12 col-md-6  text-white">
        <img lazyLoad="assets/images/home/litmus.png" alt="Image" class="img-fluid litmus-css" />
        <p>Litmus brings Chaos Engineering to stateful cloud native apps.</p>
        <a href="https://litmuschaos.io" target="_blank" rel="noopener noreferrer">litmuschaos.io <img
            lazyLoad="assets/images/home/link.png"></a>
      </div>
    </div>
    <div class="row">
      <div class="plow-checkout">
        <div class="checkout-doc">
          <img lazyLoad="assets/images/home/target.png" alt="Target Image" class="img-fluid" />
        </div>
        <div class="checkout-content">
          <h3 class="doc-title">The benefits of Kubera</h3>
          <p>Kubera brings easy automation, enterprise level access controls, and push-button experiences to add
            resilience to data workloads on Kubernetes. Built and supported 24x7 by one of the leading contributors to
            CNCF
            projects - Kubera helps you to get all the benefits of running data on Kubernetes - without the operational
            headaches.</p>
        </div>
      </div>
    </div>
  </div>
</div>