<section class="bg-secondary py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center flex-column">
        <h2 class="pb-4 text-white text-center">{{ blog.title}}</h2>
        <p class="pb-4 text-white text-center">{{ blog.subtitle}}</p>
        <a href={{blog.cta.url}} target="_blank" rel="noopener noreferrer"><button
            class="btn btn-tertiary">{{blog.cta.text}}</button> </a>
      </div>
    </div>
  </div>
</section>
