<div class="trust-wrapper">
  <div class="section-container content-slider">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <app-testimonial-section [silderContent]="silderContent"></app-testimonial-section>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center text-white global-title"><span>Let us help you run data on </span>Kubernetes</h2>
        <div class="global-wrapper">
          <a routerLink="/contactus">
            <button class="btn btn-primary">Contact Us</button>
          </a>
          <a routerLink="/pricing">
            <button class="btn btn-outline-primary">See Pricing</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>