<div class="bg-wrapper" style="z-index: 0;">
  <div class="bg"></div>
</div>
<section class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="banner-title">Trust Kubernetes for Data</h1>
        <div class="banner-content">
          <p>OpenEBS with Kubera is the answer. OpenEBS is the most popular open source storage for Kubernetes - and the
            fastest.</p>
          <p>Kubera adds an easy to use GUI for OpenEBS Mayastor - and APIs, auto checks and configuration, active
            directory authentication, built-in performance benchmarking, and additional operators to assist in upgrades
            and other use cases. Kubera is freely available and is delivered by MayaData when providing 24/7 support for
            customers to reduce operational costs and complexity.</p>
        </div>
      </div>
    </div>
  </div>
</section>