<div class="main-wrapper">
  <div class="section-container top-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="banner-title">MayaData contribution to Open Source</h1>
          <p class="banner-content">MayaData sponsors two open-source projects, OpenEBS, and LitmusChaos, that enable
            data
            agility for Kubernetes. We take pride in our contributions to these and other open-source projects,
            including those shown below.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="opensource-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-8 our">
          <h2 class="our-title">Our Contribution to Kubernetes</h2>
          <div class="our-content">
            <p>Kubernetes is an example of the great good that open source can do. We mostly contribute to the
              persistent
              storage area.</p>
            <h4 class="our-inner-title"> Some of our contributions include:</h4>
            <ul class="our-list">
              <li>Dynamic volume provisioner plugin</li>
              <li>Volume snapshot plugin</li>
              <li>Building the PV, PVC pieces of the Kube Dashboard</li>
              <li>CSI plugin</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 opensource-images">
          <a href="https://github.com/kubernetes/kubernetes" target="_blank" rel="noopener noreferrer">
            <div class="opensource-card-wrapper">
              <div class="card opensource-card">
                <img lazyLoad="assets/images/open-source/kubernetes-logo-big.png" alt="Kubernetes" class="big-logo">
                <div class="show-mobile">
                  <img lazyLoad="assets/images/open-source/kubernetes-logo-medium.png" alt="Kubernetes"
                    class="small-logo">
                  <img lazyLoad="assets/images/open-source/kubernetes-logo-big.png" alt="Kubernetes" class="big-logo">
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="contribution">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 contribution-content">
          <h2 class="con-title"> Contributions to other open source projects</h2>
          <p>We are inclined to make contributions to the projects in the area of Cloud Native
            Storage. Weave Scope is one example. Below are some of the main contributions.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="technology">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul class="technology-list-wrapper">
            <li>
              <div class="tech-img">
                <a href="https://github.com/openebs/node-disk-manager" target="_blank" rel="noopener noreferrer">
                  <img lazyLoad="assets/images/open-source/open-source-1.png" />
                </a>
              </div>


              <div class="tech-content">
                <h3 class="tech-title">Node Disk Manager</h3>
                <p class="text-center text-md-left">NDM allows Kubernetes to treat underlying storage media as objects
                  for
                  pooling, event management, service class selection,and more. NDM has been initially designed and will
                  be upstream in Kubernetes and is available in OpenEBS
                  starting with 0.7.</p>
              </div>
            </li>

            <li>
              <!-- <div class="tech-img">
                <a href="https://wpdk.github.io/" target="_blank" rel="noopener noreferrer">
                  <img lazyLoad="assets/images/open-source/open-source-1.png" />
                </a>
              </div> -->
              <h3 class="tech-title wpdk-title">Windows Platform Development Kit (WPDK)</h3>
              <div class="tech-content wpdk-content">

                <p class="text-center text-md-left">The Windows Platform Development Kit (WPDK) enables applications
                  based on the Storage Performance Development Kit (SPDK) to build and run as native Windows
                  executables, bringing the power and performance of NVMe and NVMe-oF to Windows. It provides header
                  files and a lightweight library that implement the required POSIX/Linux functionality.
                  <a href="https://wpdk.github.io/" target="_blank" rel="noopener noreferrer">Learn more</a>
                </p>
              </div>
            </li>

            <li>
              <div class="tech-img">
                <a href="https://github.com/weaveworks/scope" target="_blank" rel="noopener noreferrer">
                  <img lazyLoad="assets/images/open-source/weave-scope-logo.png" />
                </a>
              </div>

              <div class="tech-content">
                <h3 class="tech-title">Weave Scope</h3>
                <p>Weave Scope is the best tool we have found for visualizing Kubernetes resources. It provides
                  unmatched ease of browsing of the most of the Kubernetes resource types. We have contributed to the
                  visualization of
                  storage resources such as PV, PVC, and storage classes to this project. We are thrilled to continue
                  contributing.</p>
              </div>
            </li>

            <li>
              <div class="tech-img">
                <a href="https://github.com/vmware-tanzu/velero" target="_blank">
                  <img lazyLoad="assets/images/open-source/velero.png">
                </a>
              </div>

              <div class="tech-content">
                <h3 class="tech-title">Velero</h3>
                <p>
                  Certain capabilities of Kubera Director such as DMaaS - for data copy management, replication and
                  migration - include integration with the widely deployed VMware Velero project. We have made a variety
                  of improvements to Velero - such as separating snapshot and upload processes and improving the
                  resilience of backups and enabling them to restart when they fail in process.
                  <!-- Certain capabilities of Kubera Director such as DMaaS - for data copy management, replication and
                  migration
                  - include integration with the widely deployed VMware Velero project. We have made a variety of
                  improvements
                  to Velero - such as separating snapshot and upload processes and improving the resilience of backups
                  and
                  enabling them to restart when they fail in process. Please read more about these contributions in this
                  September 2019 blog on the OpenEBS community: <a
                    href="https://blog.mayadata.io/openebs/suggesting-ways-to-improve-already-awesome-velero"
                    target="_blank" class="dotted-1">Kubernetes Backup: Improve already awesome Velero with OpenEBS</a> -->
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="container">
    <div class="row" id="ndm">
      <div class="col-12 col-md-6 col-lg-4">
        <a href="https://github.com/openebs/node-disk-manager" target="_blank" rel="noopener noreferrer">
          <div class="opensource-card-wrapper">
            <div class="card opensource-card">
              <img lazyLoad="assets/images/open-source/node-disk-manager.svg" />
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-8 my-5">
        <div>
          <h3 class="text-center text-md-left">Node Disk Manager</h3>
        </div>
        <div>
          <p class="text-center text-md-left">NDM allows Kubernetes to treat underlying storage media as objects for
            pooling, event management, service class selection,and more. NDM has been initially designed and will be upstream in Kubernetes and is available in OpenEBS
            starting with 0.7.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row" id="weavescope">
      <div class="col-12 col-md-6 col-lg-8 my-5 order-2 order-md-1">
        <div>
          <h3 class="text-center text-md-left">Weave Scope</h3>
        </div>
        <div>
          <p class="text-center text-md-left">Weave Scope is the best tool we have found for visualizing Kubernetes
            resources. It provides unmatched ease
            of browsing of the most of the Kubernetes resource types. We have contributed to the visualization of
            storage
            resources such as PV, PVC, and storage classes to this project. We are thrilled to continue contributing.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 my-5 order-1 order-md-2">
        <a href="https://github.com/weaveworks/scope" target="_blank" rel="noopener noreferrer">
          <div class="opensource-card-wrapper">
            <div class="card opensource-card">
              <img src="assets/images/open-source/weave-works.png" />
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>


  <div class="container my-5">
    <div class="row" id="velero">
      <div class="col-12 col-md-6 col-lg-4 my-5">
        <a href="https://github.com/vmware-tanzu/velero" target="_blank">
          <div class="opensource-card-wrapper">
            <div class="card opensource-card">
              <img src="assets/images/open-source/velero.svg">
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-8 my-5">
        <div>
          <h3 class="text-center text-md-left">Velero</h3>
        </div>
        <div>
          <p class="text-center text-md-left">Certain capabilities of Kubera Director such as DMaaS - for data copy
            management, replication and migration
            - include integration with the widely deployed VMware Velero project. We have made a variety of improvements
            to Velero - such as separating snapshot and upload processes and improving the resilience of backups and
            enabling them to restart when they fail in process. Please read more about these contributions in this
            September 2019 blog on the OpenEBS community:
            <a href="https://blog.mayadata.io/openebs/suggesting-ways-to-improve-already-awesome-velero" target="_blank"
              class="dotted-1">Kubernetes Backup: Improve already awesome Velero with OpenEBS</a> </p>
        </div>
      </div>
    </div>
  </div> -->

</div>