<section class="section-container">
  <div class="container" id="top">
    <div class="row">
      <div class="col-12">
        <a routerLink="/" class="text-white"><i class="fa fa-chevron-left" aria-hidden="true"></i><span
            class="pl-2">Back</span></a>
        <h1 class="text-white">Mulebot Privacy Policy</h1>
      </div>
      <div class="col-12 bg-white p-5 mulebot-policy-section-wrapper">
        <div class="mulebot-policy-section">
          <div class="wrapper-bottom">
            <div>
              <p>Thank you for using Mulebot from MayaData Inc. This Privacy Policy explains our practices regarding the
                collection, use, and disclosure of information we collect from users of our Services, including our bot
                and
                website. This Privacy Policy does not apply to any third-party websites, services, or applications, even
                if
                they are accessible through our Services. This Privacy Policy applies to all products and services
                offered
                by
                MayaData Inc. By accessing or using our Services, you signify that you have read, understood, and agree
                to
                our
                collection, storage, use, and disclosure of your personal information as described in this Privacy
                Policy.
              </p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Information Collection and Use</h5>
            <div>
              <p>Our primary goals in collecting information are to provide and improve our Services, to administer your
                use
                of our Services, and to enable you to enjoy and easily navigate our Services.</p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Information Collected Through Our Site</h5>
            <div>
              <p>If you visit our Site, you may choose to provide us with your email address or other contact
                information
                in
                order to obtain information about our Services. We collect this information only for our marketing
                purposes
                and will not share this information with third parties.</p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Account Information</h5>
            <div>
              <p>If you create an Account, we’ll collect certain information that can be used to identify you, such as
                your
                name, email address, postal address and phone number (“PII”). If you create an Account using your login
                credentials from a third-party single sign-on service (SSO Service), we’ll be able to access and collect
                your
                name, email address, and other PII that your privacy settings on the third-party service permit us to
                access.
                If you log into your account with a third-party SSO Service we will receive a login validation token,
                but
                will
                not receive or store your single sign-on service password.</p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Information Collected Using Cookies and other Web Technologies</h5>
            <div>
              <p>Like many website owners and operators, we use automated data collection tools such as Cookies and Web
                Beacons to collect certain information. “Cookies” are small text files that are placed on your hard
                drive
                by
                a
                Web server when you access our Services. We may use both session Cookies and persistent Cookies to
                identify
                that you’ve logged in to the Services and to tell us how and when you interact with our Services. We may
                also
                use Cookies to monitor aggregate usage and web traffic routing on our Services and to customize and
                improve
                our Services. Unlike persistent Cookies, session Cookies are deleted when you log off from the Services
                and
                close your browser. Although most browsers automatically accept Cookies, you can change your browser
                options
                to stop automatically accepting Cookies or to prompt you before accepting Cookies. Please note, however,
                that
                if you don’t accept Cookies, you may not be able to access all portions or features of the Services.
                Some
                third-party services providers that we engage (including third-party advertisers) may also place their
                own
                Cookies on your hard drive. Note that this Privacy Policy covers only our use of Cookies and does not
                include
                use of Cookies by such third parties. “Web Beacons” (also known as Web bugs, pixel tags or clear GIFs)
                are
                tiny graphics with a unique identifier that may be included on our Services for several purposes,
                including
                to
                deliver or communicate with Cookies, to track and measure the performance of our Services, to monitor
                how
                many
                visitors view our Services, and to monitor the effectiveness of our advertising. Unlike Cookies, which
                are
                stored on the user’s hard drive, Web Beacons are typically embedded invisibly on web pages (or in an
                email).
                APIs” or application programming interfaces are software components that enable our Services to
                communicate
                with third-party services. We may use APIs to enable our Services to communicate with and gather
                information
                from third-party services, such as SSO Services, used by you. Our Site does not have the capability to
                respond
                to “Do Not Track” signals received from various web browsers.
              </p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Information Related to Use of Our Services</h5>
            <div>
              <p>If you visit our Site, you may choose to provide us with your email address or other contact
                information
                in
                order to obtain information about our Services. We collect this information only for our marketing
                purposes
                and will not share this information with third parties.</p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Information Collected Through Our Site</h5>
            <div>
              <p>As part of you and your employees’ use of our Services, we will collect and analyze data provided to us
                via
                the various third-party accounts you enable for use with our Services. Because the third party accounts
                are
                enterprise business applications that you and your employees use in your day-to-day operations and
                communications, we may receive trade secrets or other confidential or proprietary information about your
                business, employees, or other highly sensitive topics that may be incidental to our efforts to collect
                information about organizational structure and communication as part of our Services. Our servers
                automatically record certain information about how you our Services (we refer to this information as
                “Log
                Data”), including both Account holders and non-Account holders. Log Data may include information such as
                your
                Internet Protocol (IP) address, browser type, operating system, the web page that you were visiting
                before
                accessing our Services, the pages or features of our Services to which you browsed and the time spent on
                those
                pages or features, search terms, the links on our Services that you clicked on, comments and other
                communications conducted over our Services, information from other third party products and services
                that
                we
                enable you to connect to you Accounts and other statistics.</p>
              <p>We use Log Data to administer the Services and we analyze (and may engage third parties to analyze) Log
                Data
                to improve, customize and enhance our Services by expanding their features and functionality and
                tailoring
                them to your needs and preferences. We may use your IP address to generate aggregate, non-identifying
                information about how our Services are used.
              </p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Location Information</h5>
            <div>
              <p>When you use our services we may collect and store information about your location, such as by
                converting
                your IP address into a rough geolocation, or, if you access our Services via a mobile device, by
                accessing
                your mobile device’s coarse location if you enable location services on your device. We may use location
                information to improve and personalize our Services for you. If you do not want us to collect location
                information, you may disable that feature on your mobile device. In addition, some of the third-party
                accounts
                you use with our Services may contain your location information, which may then be shared with us.
              </p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Information Use</h5>
            <div>
              <ul>
                <li>Any of the information we collect from you may be used to: Personalize your experience (your
                  information
                  helps us to better respond to your individual needs).</li>
                <li>Improve our Services (we may use your information and feedback to improve our Services, including
                  our
                  products, bots, and website).</li>
                <li>Improve customer service (your information helps us to more effectively respond to your customer
                  service
                  requests and support needs)
                </li>

                <li>Process payments
                </li>
                <li>Run promotions, contests, surveys, or other features
                </li>

                <li>Market products and services to you that we believe may be of interest to you Send you information
                  you
                  agreed to receive about topics we think will be of interest to you
                </li>

                <li>Send you information you agreed to receive about topics we think will be of interest to you
                </li>

                <li>Send periodic emails with updates pertaining to our Services
                </li>

                <li>Respond to your inquiries, questions, and/or other requests
                </li>

              </ul>
              <p>We may also use your Personal Information to create Anonymous Information records by excluding
                information
                that makes the information personally identifiable to you. We reserve the right to use Anonymous
                Information
                for any purpose.
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Information Related to Use of Our Services</h5>
            <div>
              <p>If you visit our Site, you may choose to provide us with your email address or other contact
                information
                in
                order to obtain information about our Services. We collect this information only for our marketing
                purposes
                and will not share this information with third parties.</p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Information Related to Use of Our Services</h5>
            <div>
              <p>If you visit our Site, you may choose to provide us with your email address or other contact
                information
                in
                order to obtain information about our Services. We collect this information only for our marketing
                purposes
                and will not share this information with third parties.</p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Information We Share</h5>
            <div>
              <p>We will not share any PII that we have collected from or regarding you except as described below:</p>
            </div>
            <div>
              <p><strong>Information Shared with Our Services Providers</strong> - We may engage third party services
                providers to work with us to administer and provide our Services. These third party services providers
                have
                access to your PII only for the purpose of performing services on our behalf.
              </p>
              <p><strong>Information Shared with Third Parties</strong> - We may share aggregated information and
                non-identifying information with third parties to enhance the effectiveness of our Services and for
                industry
                research and analysis, demographic profiling, benchmarking, and other similar purposes. As part of our
                Services we may share aggregate, anonymous demographic information, survey results, market trends, and
                other
                analysis that we create based on the information we receive from you and other customers. Such
                information
                will never identify you, your business, or your employees.
              </p>
              <p><strong>Information Disclosed in Connection with Business Transactions.</strong> Information that we
                collect
                from our users, including PII, is considered to be a business asset. Thus, if we are acquired by a third
                party
                as a result of a transaction such as a merger, acquisition, or asset sale or if our assets are acquired
                by
                a
                third party in the event we go out of business or enter bankruptcy, some or all of our assets, including
                your
                PII, may be disclosed or transferred to a third party acquirer in connection with the transaction.
              </p>
              <p><strong>Information Disclosed for Our Protection and the Protection of Others.</strong> We cooperate
                with
                government and law enforcement officials or private parties to enforce and comply with the law. We may
                disclose any information about you to government or law enforcement officials or private parties as we,
                in
                our
                sole discretion, believe necessary or appropriate: (i) to respond to claims, legal process (including
                subpoenas); (ii) to protect our property, rights and safety and the property, rights and safety of a
                third
                party or the public in general; and (iii) to stop any activity that we consider illegal, unethical or
                legally
                actionable activity.</p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Data Protection</h5>
            <div>
              <p>We take reasonable measures to protect the information that we collect from you or about you (including
                your
                PII) from unauthorized access, use, or disclosure. Please be aware, however, that no method of
                transmitting
                information over the Internet or storing information is completely secure. Accordingly, we cannot
                guarantee
                the absolute security of any information.</p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Information Related to Use of Our Services</h5>
            <div>
              <p>If you visit our Site, you may choose to provide us with your email address or other contact
                information
                in
                order to obtain information about our Services. We collect this information only for our marketing
                purposes
                and will not share this information with third parties.</p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Modifying Your Information</h5>
            <div>
              <p>To delete your PII and cancel your account, please send an email to info@mayadata.io. We’ll take steps
                to
                delete your information as soon as is practicable, but some information may remain in archived/backup
                copies
                for our records or as otherwise required by law.
              </p>
            </div>
          </div>
          <div class="wraper-bottom">
            <h5>International Transfer</h5>
            <div>
              <p>Your PII may be transferred to, and maintained on, computers located outside of your state, province,
                country, or other governmental jurisdiction where the privacy laws may not be as protective as those in
                your
                jurisdiction. <strong>If you’re located outside the United States and choose to provide your PII to us,
                  we
                  may
                  transfer your PII to the United States and process it there.</strong></p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Third Party Websites and Services</h5>
            <div>
              <p>Our Services, including our bot and website, may contain links to websites and services that are owned
                and
                operated by third parties. We do not control the content or links that appear on these sites and are not
                responsible for the practices employed by websites and services linked to or from our Services. Any
                information that you provide on or to a third party website or service or that is collected by a third
                party
                website or service is provided directly to its owner or operator and is subject to the owner’s or
                operator’s
                privacy policy. To protect your information we recommend that you carefully review the privacy policies
                of
                any
                website or service that you access.
              </p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Children’s Privacy</h5>
            <div>
              <p>Our Services are not directed to children under 13, and we do not knowingly collect PII from children
                under
                13. If we learn that we have collected PII of a child under 13, we will take steps to delete such
                information
                from our files as soon as possible
              </p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Revisions to this Privacy Policy</h5>
            <div>
              <p>We reserve the right to revise this Privacy Policy from time to time. We will post changes on this page
                and
                indicate the “last modified” date at the top of this page. Please check back often for any updates. You
                acknowledge and agree that it is your responsibility to review this Privacy Policy periodically, and
                that
                your
                continued use of our Services after any change in this Privacy Policy will constitute your acceptance of
                such
                change.</p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Your Acceptance of These Terms</h5>
            <div>
              <p>By using our Services, you signify your acceptance of this Privacy Policy.</p>
            </div>
          </div>
          <div class="wrapper-bottom">
            <h5>Contact Us</h5>
            <div>
              <p>If you have any questions about this Privacy Policy, please contact us at <a
                  mailto="info@mayadata">info@mayadata.io</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
