<div class="section-container pricing-overview" id="pricingOverview">
  <img lazyLoad="assets/images/mayadata-landing/shadow-blue-pricing-oval-1.png" alt="shadow-blue-pricing-oval"
    class="pricing-overview__bg-img d-none d-lg-block" />
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pricing-wrapper">
          <div class="pricing-block"></div>
          <div class="pricing-block" *ngFor="let pricingLevel of objectKeys(pricingOverview)">
            <a href={{subscriptionsUrl}} target="_blank" rel="noopener noreferrer" class="d-block pricing-card-link">
              <div class="text-white justify-content-center align-items-center flex-column text-center pricing-box"
                [class.bg-tertiary]="pricingLevel === 'basic'" [class.bg-primary]="pricingLevel === 'standard'"
                [class.bg-secondary]="pricingLevel === 'enterprise'">
                <app-pricing-card [pricingLevelObj]="pricingOverview[pricingLevel]" class="h-100"></app-pricing-card>
              </div>
            </a>
            <div class="pt-3 pricing-prior-benefits">
              <div class="px-0 m-auto m-lg-0">
                <p class="font-weight-bold mb-0 text-center">
                  {{pricingOverview[pricingLevel].priorBenefits}}</p>
              </div>
            </div>
            <div class="pricing-features">
              <div>
                <ul class="d-flex justify-content-center align-items-start flex-column pl-5">
                  <li *ngFor="let feature of pricingOverview[pricingLevel].features" class="d-inline-flex">
                    <span class="mr-2 d-inline-block" [class.text-tertiary]="pricingLevel === 'basic'"
                      [class.text-primary]="pricingLevel === 'standard'"
                      [class.text-secondary]="pricingLevel === 'enterprise'">✓</span>
                    <span class="d-inline-block">{{feature}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div>
          <p><span class="font-weight-bold">*</span> Site license: $105K / month includes unlimited usage and all
            Enterprise features.</p>
        </div>
      </div>
    </div>
  </div>
</div>