<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-12 pt-5">
        <h2 class="h1 text-primary text-center">Pricing overview</h2>
      </div>
      <div class="col-12">
        <app-kubera-pricing></app-kubera-pricing>
      </div>
      <div class="col-12">
        <p>Kubera comes in 3 different packages, based on common needs when running data on Kubernetes.</p>
        <p>Each package comes with support for OpenEBS , which itself includes the broadest variety of storage engines
          available.</p>
        <p>The basic package of Kubera is free forever and includes back-ups, visualization, off-cluster logging &
          monitoring, and more.</p>
        <p>The team and enterprise versions include SLA based enterprise support for OpenEBS and related capabilities,
          governance reporting and alerts, simplified multi-cloud disaster recovery, enterprise integrations and access
          controls, on premise deployments, and more.</p>
        <p><a routerLink="/get-pricing" class="dotted-1">Check out the features of each package of Kubera</a> and choose
          the best option
          for your Kubernetes environments, including EKS, AKS, OpenShift, Rancher, upstream Kubernetes and more.</p>
      </div>
    </div>
  </div>
</div>
