.support-section {
  max-width: 900px;
  margin: auto;
}

.workload-support {
  background: linear-gradient(82.94deg, rgba(102, 61, 219, 0.144) 17.14%, rgba(169, 61, 219, 0.194) 79.8%);
}

.text-decoration-none {
  text-decoration: none;
}
